@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Imported;
  src: url(../public/fonts/Impacted20-Regular.ttf);
}

$kirmizi-1: #ed1c24;
$kirmizi-2: #be1e2d;
$kirmizi-3: #e51c26;
$mavi-1: #1f9dd9;
$mavi-2: #336079;
$mavi-3: #325c74;
$siyah-1: #0a0b12;
$beyaz-1: #e3e3e3;
$yesil-1: #94ca66;
$yesil-1: #5b8c30;
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  height: 100vh;
  margin: 0;
  background-image: url("../public/image/background.jpg");
  font-family: Imported;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

.nav {
  box-shadow: 0px 1px 15px 0px rgb(31, 157, 217, 0.7) inset;
  .nav-ust {
    a:hover {
      background: linear-gradient(90deg, $mavi-1 0%, $kirmizi-1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .mobile-div {
      a:hover {
        background: linear-gradient(90deg, $mavi-1 0%, $mavi-1 40%, $kirmizi-1 60%, $kirmizi-1 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      li {
        border: solid $mavi-1;
        box-shadow: 0px 1px 15px 0px $mavi-1 inset;
      }
    }
  }
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(31, 157, 217, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(237, 28, 36, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(237, 27, 36);
}
.basvuru-logo {
  img:hover {
    filter: drop-shadow(-0.3rem 0rem 0.15rem #e51c26) drop-shadow(0.4rem 0rem 0.15rem #336079);
    cursor: pointer;
  }
}
.btnContainer {
}

.circle {
  stroke: $kirmizi-1;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  -webkit-transition: all 0.5s ease-in-out;
  opacity: 0.3;
}

.playBut {
  // border: 1px solid red;
  display: inline-block;
  -webkit-transition: all 0.5s ease;

  .triangle {
    -webkit-transition: all 0.7s ease-in-out;
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    stroke: #fff;
    transform: translateY(0);
  }

  &:hover {
    .triangle {
      stroke-dashoffset: 0;
      opacity: 1;
      stroke: $mavi-1;
      animation: nudge 0.7s ease-in-out;

      @keyframes nudge {
        0% {
          transform: translateX(0);
        }
        30% {
          transform: translateX(-5px);
        }
        50% {
          transform: translateX(5px);
        }
        70% {
          transform: translateX(-2px);
        }
        100% {
          transform: translateX(0);
        }
      }
    }

    .circle {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

.footer-distributed {
  /* width: 100%; */
  margin-top: 5%;
  background: rgba(106, 106, 106, 0.2);
  box-sizing: border-box;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 20px 50px;
}

.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: none;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed img {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: rgb(149, 149, 149);
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-name span {
}

/* Footer Center */

.footer-distributed .footer-center {
  visibility: hidden;
  width: 35%;
}
.footer-distributed .footer-center div {
  height: 50px;
}
.footer-distributed .footer-center .footer-center-icon-box {
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #6a6a6a;
  border-radius: 50%;
}
.footer-distributed .footer-center svg path {
  stroke: #fff;
}
.footer-distributed .footer-center svg {
  font-size: 25px;
  /* background-color: #33383b;
  fill: #ffffff; */
  /* font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle; */
}
.footer-distributed .footer-center div {
  display: flex;
  align-items: center;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  visibility: hidden;
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  display: none;
  margin-top: 25px;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.footer-distributed .footer-icons a {
  display: inline-grid;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  align-items: center;
  justify-content: center;
}
.footer-distributed .footer-icons svg {
  color: #ffffff;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: none;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
