@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Montserrat;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  font-family: Imported;
  src: url(../public/fonts/Impacted20-Regular.ttf);
}

$kirmizi-1: #ed1c24;
$kirmizi-2: #be1e2d;
$kirmizi-3: #e51c26;
$mavi-1: #1f9dd9;
$mavi-2: #336079;
$mavi-3: #325c74;
$siyah-1: #0a0b12;
$beyaz-1: #e3e3e3;
$yesil-1: #94ca66;
$yesil-1: #5b8c30;
$gri-1: #8a2be2;
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  height: 100vh;
  margin: 0;
  background-image: url("../public/image/background.jpg");
  font-family: Imported;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

.nav {
  box-shadow: 0px 1px 15px 0px rgb(31, 157, 217, 0.7) inset;
  .nav-ust {
    a:hover {
      background: linear-gradient(90deg, $mavi-1 0%, $kirmizi-1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .mobile-div {
      a:hover {
        background: linear-gradient(90deg, $mavi-1 0%, $mavi-1 40%, $kirmizi-1 60%, $kirmizi-1 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      li {
        border: solid $mavi-1;
        box-shadow: 0px 1px 15px 0px $mavi-1 inset;
      }
    }
  }
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(31, 157, 217, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(237, 28, 36, 0.5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(237, 27, 36);
}
.basvuru-logo {
  img:hover {
    filter: drop-shadow(-0.3rem 0rem 0.15rem #e51c26) drop-shadow(0.4rem 0rem 0.15rem #336079);
    cursor: pointer;
  }
}

.circle {
  stroke: $kirmizi-1;
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  -webkit-transition: all 0.5s ease-in-out;
  opacity: 0.3;
}

.playBut {
  // border: 1px solid red;
  display: inline-block;
  -webkit-transition: all 0.5s ease;

  .triangle {
    -webkit-transition: all 0.7s ease-in-out;
    stroke-dasharray: 240;
    stroke-dashoffset: 480;
    stroke: #fff;
    transform: translateY(0);
  }

  &:hover {
    .triangle {
      stroke-dashoffset: 0;
      opacity: 1;
      stroke: $mavi-1;
      animation: nudge 0.7s ease-in-out;

      @keyframes nudge {
        0% {
          transform: translateX(0);
        }
        30% {
          transform: translateX(-5px);
        }
        50% {
          transform: translateX(5px);
        }
        70% {
          transform: translateX(-2px);
        }
        100% {
          transform: translateX(0);
        }
      }
    }

    .circle {
      stroke-dashoffset: 0;
      opacity: 1;
    }
  }
}

/*------------------------------------- FOOTER ----------------------------*/
footer {
  font-family: Montserrat;
  .footer-bot {
    a {
      background: linear-gradient(90deg, $mavi-1 0%, $mavi-1 53%, $kirmizi-1 60%, $kirmizi-1 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
